.setting{
    background-color: honeydew; 
    padding: 30px;
}
.job {
    border-radius: 8px;
    background-color: rgb(136, 151, 165);
    border: 1px solid white;
    box-shadow: 0 6px 20px 0 grey;
}
.row_password {
    padding: 7px 20px;
    border-radius: 8px;
    border: 1px solid lightblue;
    box-shadow: 0 4px 15px 0 grey;
}
.createJob{
    align-self: center;
    padding: 5px;
    color: white;
    margin-top: 14px;
    font-size: x-large;
}
.logo_img{
    object-fit: cover;
}